/*styling for the invoice page*/
/*some aspects taken from codepen for the table*/

table { font-size: 75%; table-layout: fixed; width: 100%; border-collapse: separate; border-spacing: 2px; }
th, td { border-width: 1px; padding: 0.5em; position: relative; text-align: left; border-radius: 0.25em; border-style: solid; }
th { background: #EEE; border-color: #BBB; }
td { border-color: #DDD; }
body {
    background-color: beige;
    font-family: "Karma", sans-serif}
div {
    text-align: center;
}
h1 {
    text-align: center; 
}