html {
    cursor: url('/Images/cursors/normal.cur'), auto;
}
body {
    text-align: center;
    width: 100%; 
    height: 100%;
    margin: 0 auto;
    font-family: 'AppleSDGothicNeo', 'Noto Sans KR', sans-serif;    
    color: white;
    font-size: large;
    text-shadow: 2px 2px 2px rgba(46,91,173,0.6);
    z-index: 1;
}
body {
    background-image: url("./images/home-coffee.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

/* Add styling for the background container */
.background-container {
    background-color: rgba(0, 0, 0, 0.5); /* Background color with some transparency */
    padding: 20px; /* Add padding to create space around the text */
    text-align: center; /* Center-align the text within the container */
    color: white; /* Text color */
}

/* You can add additional styles as needed */

#icon {
    width: 50px;
    height: 50px;
    cursor: url('/Images/cursors/link.cur'), auto;
    padding: 3px;
    display: inline;
}

a {
    cursor: url('/Images/cursors/link.cur'), auto;
}
/* Add a hover effect (blue shadow) */
#Menu:hover {
    box-shadow: 1 1 20px 10px rgb(0, 29, 60);
}
#bunny {
    border: 2px solid #ddd;
    /* Gray border */
    border-radius: 4px;
    /* Rounded border */
    padding: 5px;
    /* Some padding */
    width: 150px;
    /* Set a small width */
    cursor: url('/Images/cursors/link.cur'), auto;
}
iframe {
    cursor: url('/Images/cursors/normal.cur'), auto;
}


.class {
    color: rgba(0, 0, 0, 0.5);
}