html {
    z-index: 1;
    cursor: url('/Images/cursors/normal.cur'), auto;
}
input {
    cursor: url('/Images/cursors/text.cur'), auto;
}
#purchase_button {
    cursor: url('/Images/cursors/link.cur'), auto;
}
div {
position: relative;
    display: inline-flex;
}
main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
body {
    text-align: center;
    width: 100%; 
    height: 100%;
    margin: 0 auto;
    font-family: 'AppleSDGothicNeo', 'Noto Sans KR', sans-serif;  
}
p {
    cursor: url('/Images/cursors/text.cur'), auto;
    text-shadow: 1px 1px 1px aliceblue;
}
a {
    cursor: url('/Images/cursors/link.cur'), auto;
}
span {
    font-family: 'AppleSDGothicNeo', 'Noto Sans KR', sans-serif; 
    font-size: medium;
    text-shadow: 2px 2px 2px rgba(46,91,173,0.6);
    font-style: italic;
}
h1 {
    text-align: center;
    font-size: large;
    text-shadow: 2px 2px 2px rgba(46,91,173,0.6);
}
h2 {
    text-align: center;
    padding: 5px;
    color: white;
    font-size: large;
    text-shadow: 2px 2px 2px rgba(46,91,173,0.6);
    cursor: url('/Images/cursors/text.cur'), auto;
    
}
h3 {
    text-align: center;
    color: aliceblue;
    font-size: medium;
    text-shadow: 2px 2px 2px rgba(46,91,173,0.6);
    cursor: url('/Images/cursors/text.cur'), auto;
}
p {
    text-align: center;
    font-weight: bold;
    z-index: 1;
}
img {
    text-align: center;
    width: 125px;
    height: 125px;
    z-index: 1;
    border-style: solid;
    border-width: medium;
    border-color: aliceblue;
}
footer {
    text-align: center;
    z-index: 1;
}
#myVideo {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
  }